* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img, video {

	width: 100%;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display:flex;
}

.header-text {
	font-family:TikTok Sans;
	display:flex;
	gap: 1rem;
	color: rgba(255, 255, 255, 0.488);
	margin-top: 10px;
	position: relative;
}
.header-text > p:nth-child(2){

	position: relative;
}
.header-text > p:nth-child(2)::after {
  content: "";
  position: absolute;

  top: 2px;
  right: -8px;

  width: 6px;
  height: 6px;
  background-color: #ff3b30;
  border-radius: 50%;
}

.header-text :last-child {
	color: rgb(251, 251, 251);
	border-bottom: solid white 3px;
	
}

.play-button, .search-button {
	font-size: 1.5rem;
	color: white;
	margin-left: 3px;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

}

.footer-text h3 {
	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
}

p {

	font-size: 15px;
	margin-bottom: 10px;
	margin-left: 10px;

	

}


.footer-nav {
display: flex;
justify-content: space-evenly;
  width: 512px; 
  height: 100px; 
  background-color: #000000; 
  
}






/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	text-align: center;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.profile-plus {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 0px solid red;
  border-radius: 50%;
  background-color: red;
  color: white;
  bottom: 288.75px;
  right: 24px;

}
	
	
	
	




.profile-picture{
	
	border-radius: 50%;
	border: 3px white solid;
	width:36px;
	margin-top: 10px;
}

.tiktok-icons {
	color: white;
	margin-top: 16px;
	font-size: 30px;
}

.icon-text {
	color: white;
	font-size: 14px;
}

.nav-icon {
	margin-top: 10px;
	text-align: center;
}
.footer-nav > .nav-icon > i {
	font-size: 25px;
}

button {
	font-size: 30px;
	width: 60px;
	height: 40px;
	border-radius: 15px;
	box-shadow: 5px 0.2px 5px 0.5px  rgb(216, 35, 216), -5px -0.2px 5px -0.5px blue ;
	position: a;
}



/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/* .debug footer {
	min-height: 100px;
	border: 10px dashed #920c0c;
} */

/* .debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
} */

/* .debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
} */

/* --------------------- */
